/* Estilos básicos para la página */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #f4f4f4;
  color: #333;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

h1,
h2 {
  text-align: center;
  color: #0056b3;
}

/* Estilos para las tablas */
.table-container {
  display: flex;
  flex-wrap: wrap; /* Permite que las tablas se envuelvan en pantallas pequeñas */
  justify-content: space-around;
  gap: 20px;
  margin-top: 30px;
}

table {
  width: 100%; /* Ocupa todo el ancho disponible en su contenedor */
  border-collapse: collapse;
  margin-bottom: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

th,
td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
}

th {
  background-color: #007bff;
  color: white;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #e9e9e9;
}

/* Estilos para los íconos de acción */
td .action-icon {
  margin: 0 5px; /* Espacio entre íconos */
  color: #007bff; /* Color por defecto para los enlaces */
  font-size: 1.1em;
  text-decoration: none; /* Quita el subrayado predeterminado de los enlaces */
}

td .action-icon:hover {
  color: #0056b3; /* Color al pasar el ratón */
}

/* Colores específicos para los íconos */
td .edit-icon {
  color: #ffc107; /* Amarillo para editar */
}

td .edit-icon:hover {
  color: #e0a800;
}

td .delete-icon {
  color: #dc3545; /* Rojo para eliminar */
}

td .delete-icon:hover {
  color: #c82333;
}

/* Botones de acción generales (Añadir) */
.actions {
  text-align: center;
  margin-bottom: 20px;
}

.actions button {
  background-color: #28a745;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin: 5px;
}

.actions button:hover {
  background-color: #218838;
}

/* Estilos responsivos */
@media (min-width: 768px) {
  .table-container > div {
    flex: 1; /* Distribuye el espacio equitativamente entre las tablas */
    min-width: 45%; /* Asegura que cada tabla ocupe casi la mitad del espacio */
  }
}

@media (max-width: 767px) {
  .table-container {
    flex-direction: column; /* Apila las tablas en pantallas pequeñas */
    align-items: center;
  }
  table {
    width: 95%; /* Ajusta el ancho de las tablas en pantallas pequeñas */
  }
}

.button-link {
  background-color: #28a745;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin: 5px;
  text-decoration: none;
  display: inline-block;
}

.button-link:hover {
  background-color: #218838;
}
